# env
.env.local
.env
apps/*/.env.local

# next
.next/
out/

# dependencies
node_modules/

# supabase CLI artifacts
supabase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sentry Config File
.env.sentry-build-plugin
