.summaryAllLink {
  text-decoration: none;
}

.summaryActive {
  border-color: rgba(16, 34, 19, 0.5) !important;
  box-shadow: 0 0 0 2px rgba(16, 34, 19, 0.16) inset;
}

.summaryCount {
  color: #fff;
}

.summaryLabel {
  color: #fff;
}
